body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  margin: auto;
  text-align: center;
  @media screen and (max-width: 768px){
    width:50%
  }
}

.button-image-day{
  background-color: #27fb6b;
}

.button-close-day{
  background-color: #00a5cf;
}

button {
	cursor: pointer;
  border-radius: 0.4rem;
  font-family: 'Atkinson Hyperlegible', sans-serif;
	background: white;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
  box-shadow: 3px 8px;
  width: auto;
  height: 3rem;
  margin-bottom: 4%;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

button:hover {
	transform: translateY(-5px);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

.title-date{
  font-size: 1.4em;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.image-day{
  margin-top:2%;
  width: 40%;
  height: auto;
  justify-content: center;

}
.date-input{
  margin: 10px 10px;
}

.title-function{
  font-size: 1.3em;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.Instagram-card{
	background: #ffffff;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	width: 99%;
	max-width: 600px;
	margin: auto;
  margin-top: 2%;
  @media screen and (max-width: 768px){
    width:100%
  }
}


.card-date{
  padding-left: 10px;
	width: 120px;
	text-align: left;
}

.card-name{
	margin-left: -20px;
	font-weight:bold;
  color: #262626;
}

.card-desc{
  padding-left: 5px;
  padding-right: 5px;
}

.card-content{
  padding: 20px;
}

.card-image{
  width: 100%;
  height: auto;
}
.card-header{
  height: 20px;
  padding: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.read-or-hide{
  font-weight: bold;
  cursor: pointer;
}

.heart{
  position: relative;
  height: 20px;
  width: 20px;
  background-color: gray;
  display:flex;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 0 10px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.heart::before{
  position: absolute;
  content: "";
  top: -55%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.heart::after{
  position: absolute;
  content: "";
  right: -55%;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

#red-heart{
  background-color: red;
}
.like{
  margin: 5% 5%;
}
.fixed-nav-bar {
  position: fixed;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  line-height: 50px;
}
nav .brand {
  flex: 1;
  height: 30px;
  font-style: italic;
  color: blue;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  font-size: 150%;
}
.posts{
  margin-top: 60px;
}

.center-loading{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -100px;
}

.Load-text{
  color: blue;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
  font-size: 150%;
  font-style: italic;
}